body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../../assets/images/car4.jpg');
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.login-container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 350px;
    max-width: 90%;
    z-index: 1;
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: stretch; /* Stretch form elements to container width */
    margin: 20px auto;
}

.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* Form Group Styles */
.form-group { /* Added to style all form groups */
    margin-bottom: 20px; /* Spacing between form elements */
}

.form-group label {
    display: block; /* Labels above inputs */
    margin-bottom: 5px;
}

.form-control { /* Added to style all form controls */
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}


.password-container {
    position: relative;
    display: flex;
    align-items: center;
}

.password-container input {
    padding-right: 35px; /* Space for the icon */
}

.password-container i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 1.2rem;
}

.remember-me {
    display: flex;
    align-items: center;
}

.remember-me label {
    margin-left: 10px;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #0056b3;
}

.error-message {
    color: red;
    margin-top: 15px;
    text-align: center;
}

.registration-links {
    margin-top: 25px;
    text-align: center;
}

.register-boxes {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.register-box {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.register-box a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

.register-box a:hover {
    color: #0056b3;
}
.success-message {
    color: green;
    margin-top: 15px;
    text-align: center;
}
